<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>Startup Customer Acquisition</title>

    <link href="/media/css/screen.css"
    rel="stylesheet" type="text/css"
    media="screen, projection" />

    <link href="/media/css/print.css"
    rel="stylesheet" type="text/css"
    media="print" />

    <!-- [if lt IE 8]>
    <link href="/media/css/ie.css"
    rel="stylesheet" type="text/css"
    media="screen, projection" />
    <![endif]-->

    <link href="/media/css/syntax.css"
    rel="stylesheet" type="text/css"
    media="screen, projection" />

    <link href="/media/css/base.less"
    rel="stylesheet/less" type="text/css" />

    <script type="text/javascript" src="/media/js/less-1.0.41.min.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22153369-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>

  </head>

  <body>
    <div class="wrap">
      <div class="top group">
        <header>
          <h1><a href="/">Startup Customer Acquisition</a></h1>
        </header>

        <nav>
          <a href="/">Home &amp; About</a>
        </nav>
      </div>

      <div>&nbsp;</div>

      <div class="content">
        {{ content }}
      </div>

      <div>&nbsp;</div>

      <footer></footer>
    </div>
  </body>
</html>
